<% title_style = 'font-size: 1.1rem; font-weight: 900;' %>
<% value_style = 'margin-bottom: 1rem;overflow-wrap: break-word;' %>
<p>We detected a new transaction on your GuessGoals wallet. Unfortunately, we have to decline this transaction due to amount being less than the minimum acceptable amount (<strong><%= @minimum_acceptable_amount %> BTC</strong>). Details are attached below for your reference.</p>

<div style="<%= title_style %>">Amount</div>
<div style="<%= value_style %>"><%= @amount %> BTC</div>

<div style="<%= title_style %>">Transaction Id</div>
<div style="<%= value_style %>"><%= @txid %></div>

<div style="<%= title_style %>">Received on Address</div>
<div style="<%= value_style %>"><%= @address %></div>

<div style="<%= title_style %>">Received at</div>
<div style="<%= value_style %>"><%= @performed_at %></div>

<p>
You can send the funds back to yourself once we receive six block confirmations for this transaction.
</p>
Thank You, <br>
GuessGoals Support